@page "/blog/create"
@inject AppDbContext db

<PageTitle>New Blog</PageTitle>

<h4>New Blog</h4>

<div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" @bind-value="_blog.BlogTitle">
</div>
<div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control" @bind-value="_blog.BlogAuthor">
</div>
<div class="mb-3">
    <label class="form-label">Content</label>
    <input type="text" class="form-control" @bind-value="_blog.BlogContent">
</div>
<a href="/Blog" class="btn btn-outline-dark">Back</a>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>

@code {
    private BlogModel _blog = new BlogModel();

    private async Task Save()
    {
        await db.Blogs.AddAsync(_blog);
        var result = await db.SaveChangesAsync();
        await jsRuntime.InvokeVoidAsync("alert", result > 0 ? "Saving Successful." : "Saving Failed.");

        _blog = new BlogModel();
    }
}
