@model BarWithMarkerModel
<div id="chart"></div>

@section scripts {
    <script>
        const _series = @Html.Raw(JsonConvert.SerializeObject(Model));
        var options = {
            series: [{
                name: _series.Name,
                data: _series.Expect.map(item => ({
                    x: item.X,
                    y: item.Y,
                    goals: item.Goals.map(goal => ({
                        name: goal.Name,
                        value: goal.Value,
                        strokeWidth: goal.StrokeWidth,
                        strokeDashArray: goal.StrokeDashArray,
                        strokeColor: goal.StrokeColor
                    }))
                }))
            }],
            chart: {
                height: 350,
                type: 'bar'
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
            colors: ['#00E396'],
            dataLabels: {
                formatter: function (val, opt) {
                    const goals =
                        opt.w.config.series[opt.seriesIndex].data[opt.dataPointIndex]
                            .goals

                    if (goals && goals.length) {
                        return `${val} / ${goals[0].value}`
                    }
                    return val
                }
            },
            legend: {
                show: true,
                showForSingleSeries: true,
                customLegendItems: ['Actual', 'Expected'],
                markers: {
                    fillColors: ['#00E396', '#775DD0']
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
}

