@model BasicTimelineChartModel

<div id="chart"></div>
@section scripts
{
    <script>
        const _series = @Html.Raw(JsonConvert.SerializeObject(Model.Data));
        var options = {
            series: [{
                data: _series.map(item => ({
                    x: item.x,
                    y: [
                        new Date(item.y[0]).getTime(),
                        new Date(item.y[1]).getTime()
                    ]
                }))
            }],
            chart: {
                height: 350,
                type: 'rangeBar'
            },
            plotOptions: {
                bar: {
                    horizontal: true
                }
            },
            xaxis: {
                type: 'datetime'
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}


