@model ColumnChartModel

<div id="chart"></div>

@section scripts {
    <script>
        const _chartElement = document.querySelector("#chart");
        const _rawSeries = @Html.Raw(JsonConvert.SerializeObject(Model.Series));
        const _categories = @Html.Raw(JsonConvert.SerializeObject(Model.Categories));

        const _series = _rawSeries.map(item => ({
            name: item.Name,
            data: item.Data
        }));

        // const _series = [
        //     {
        //         name: 'Net Profit',
        //         data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
        //     }, {
        //         name: 'Revenue',
        //         data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
        //     }, {
        //         name: 'Free Cash Flow',
        //         data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
        //     }
        // ];
        // const _categories = ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'];

        var options = {
            series: _series,
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: _categories,
            },
            yaxis: {
                title: {
                    text: '$ (thousands)'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return "$ " + val + " thousands"
                    }
                }
            }
        };

        var chart = new ApexCharts(_chartElement, options);
        chart.render();
    </script>
}
