 @model GroupBarModel

<div id="chart"></div>

@section scripts {
    <script>
        const _series = @Html.Raw(JsonConvert.SerializeObject(Model.BarGroup));
        const _categories = @Html.Raw(JsonConvert.SerializeObject(Model.Categories));

        var options = {
            series: _series,
            chart: {
                type: 'bar',
                height: 430
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                    dataLabels: {
                        position: 'top',
                    },
                }
            },
            dataLabels: {
                enabled: true,
                offsetX: -6,
                style: {
                    fontSize: '12px',
                    colors: ['#fff']
                }
            },
            stroke: {
                show: true,
                width: 1,
                colors: ['#fff']
            },
            tooltip: {
                shared: true,
                intersect: false
            },
            xaxis: {
                categories: _categories,
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
}
