@model LineWithDataLabelsChartRespondModel

<div id="chart"></div>

@section scripts {
    <script>
        const _firstName = @Html.Raw(JsonConvert.SerializeObject(Model.FirstRecord.Name));
        const _firstData = @JsonConvert.SerializeObject(Model.FirstRecord.dataList);

        const _secondName = @Html.Raw(JsonConvert.SerializeObject(Model.SecondRecord.Name));
        const _secondData = @JsonConvert.SerializeObject(Model.SecondRecord.dataList);

        var options = {
            series: [
                {
                    name: _firstName,
                    data: _firstData
                },
                {
                    name: _secondName,
                    data: _secondData
                }
            ],
            chart: {
                height: 350,
                type: 'line',
                dropShadow: {
                    enabled: true,
                    color: '#000',
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 0.2
                },
                toolbar: {
                    show: false
                }
            },
            colors: ['#77B6EA', '#545454'],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'Average High & Low Temperature',
                align: 'left'
            },
            grid: {
                borderColor: '#e7e7e7',
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            markers: {
                size: 1
            },
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                title: {
                    text: 'Month'
                }
            },
            yaxis: {
                title: {
                    text: 'Temperature'
                },
                min: 5,
                max: 40
            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                floating: true,
                offsetY: -25,
                offsetX: -5
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
}
