@model List<MultiSeriesTimelineChartModel>

<h2>Multi Series Timeline Chart</h2>
<div style="height:100vh" id="chart"></div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        const responseList = @Html.Raw(JsonConvert.SerializeObject(Model));
  
        const seriesData = responseList.map(chartData => ({
            name: chartData.Name,
            data: chartData.Timelines.map(timeline => ({
                x: timeline.Title,
                y: timeline.DateTimes.map(datetime => new Date(datetime).getTime())
            }))
        }));

        var options = {
            series: seriesData,
            chart: {
                height: 350,
                type: 'rangeBar'
            },
            plotOptions: {
                bar: {
                    borderRadius: 10,
                    horizontal: true
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    var a = moment(val[0]);
                    var b = moment(val[1]);
                    var diff = b.diff(a, 'days');
                    return diff + (diff > 1 ? ' days' : ' day');
                }
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'light',
                    type: 'vertical',
                    shadeIntensity: 0.25,
                    gradientToColors: undefined,
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [50, 0, 100, 100]
                }
            },
            xaxis: {
                type: 'datetime'
            },
            legend: {
                position: 'top'
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}
