@model PieChartModel

<div id="chart"></div>

@section scripts {
    <script>
        const _series = @JsonConvert.SerializeObject(Model.Series);
        const _labels = @Html.Raw(JsonConvert.SerializeObject(Model.Lables));

        var options = {
            series: _series,
            chart: {
                width: 380,
                type: 'pie',
            },
            labels: _labels,
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}